p{
    margin-top: 10px;
    margin-bottom: 10px;
}

ul{
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 20px;
}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: xx-large;
}


h2{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: x-large;
}

h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: large;
    color: rebeccapurple;
}
